#distance calculation

In [1]:
import scipy
from scipy.spatial import distance

#Euclidean Distance

In [38]:
import numpy as np
a = [1,2,3]
b = [4,5,6]
dst = distance.euclidean(a,b)

In [39]:
dst

5.196152422706632

#Minkowski Distance

In [40]:
distance.minkowski([1, 0, 0], [0, 1, 0], 1) #Manhattan distance

2.0

In [41]:
distance.minkowski([1, 0, 0], [0, 1, 0], 2) #Euclidean distance

1.4142135623730951

In [42]:
distance.minkowski([1, 2, 3], [4, 5, 6], 2)

5.196152422706632

In [43]:
distance.minkowski([1, 2, 3], [4, 5, 6], 3)

4.3267487109222245

#dissimilarity or distance matrix

In [44]:
import pandas as pd
from scipy.spatial import distance_matrix

data = [[1, 4], [2, 5], [3, 6]]
#ctys = ['Boston', 'Phoenix', 'New York']
df = pd.DataFrame(data, columns=['xcord', 'ycord'], index=ctys)
df

          xcord  ycord
Boston        1      4
Phoenix       2      5
New York      3      6

In [45]:
import pandas as pd
from scipy.spatial import distance_matrix

data = [[1, 4], [2, 5], [3, 6]]
df = pd.DataFrame(data,columns=['a', 'b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [14]:
pd.DataFrame(distance_matrix(df.values, df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000

In [9]:
#pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)
#pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)

            Boston   Phoenix  New York
Boston    0.000000  1.414214  2.828427
Phoenix   1.414214  0.000000  1.414214
New York  2.828427  1.414214  0.000000