In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [4]:
df = pd.read_excel('RBD.xlsx')
df

   System A  System B  System C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

ANOVA

In [20]:
data = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['System A','System B','System C'])
data.columns = ['blocks', 'treatments', 'value']

In [21]:
model = ols('value ~ C(treatments)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=1)
anova_table

                 df  sum_sq    mean_sq         F    PR(>F)
C(treatments)   2.0    21.0  10.500000  3.214286  0.068903
Residual       15.0    49.0   3.266667       NaN       NaN

In [9]:
# accept the null hypothesis

RBD

In [22]:
model = ols('value ~ C(block)+ C(treatments)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=1)
anova_table

                 df  sum_sq  mean_sq         F    PR(>F)
C(block)        5.0    30.0      6.0  3.157895  0.057399
C(treatments)   2.0    21.0     10.5  5.526316  0.024181
Residual       10.0    19.0      1.9       NaN       NaN

In [23]:
# reject the null hypothesis